body {
  background-color: #7295F9;
  margin: 0;
  font-family: "berkshire Swash", sans-serif; }

.container {
  width: 100%;
  height: 400px;
  bottom: 20px;
  position: relative; }

img {
  height: 50%;
  width: 100%; }

.titulo {
  font-size: 4rem;
  position: absolute;
  top: 30%;
  left: 40%;
  color: #4E4C4C;
  font-family: "Amatic SC", cursive; }

.parrafo {
  font-size: 2rem;
  color: #4E4C4C;
  top: 45%;
  left: 38%;
  position: absolute;
  font-family: "Amatic SC", cursive; }

.pie-pagina {
  width: 100%;
  background-color: #0a141d; }

.box-1 h2 {
  display: flex;
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  align-items: center;
  text-align: center;
  justify-content: center; }

.box-1 p {
  color: #efefef;
  max-width: 280px;
  margin: 5px auto;
  line-height: 20px;
  font-size: 15px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  align-items: center; }

.box-img h2 {
  color: #efefef;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  font-family: "Roboto Slab", serif;
  text-align: center; }

.red-social {
  display: flex;
  justify-content: center;
  text-align: center; }

.red-social a img {
  width: 50px;
  height: 50px;
  margin: 5px; }

.contacto {
  width: 600px;
  margin: auto;
  background: #8C37F5;
  height: 500%; }

.redes {
  display: flex;
  justify-content: center; }

.text-center {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-align: center;
  color: #FFFFFF; }

h3 {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  text-align: center;
  color: #FFFFFF; }

.redes a img {
  width: 50px;
  height: 50px;
  margin: 5px; }

form {
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto; }

.ofert-center {
  margin: 100px auto;
  width: 300px; }

.ofert-center {
  font-family: "Nuosu SIL", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #8C37F5; }

.cards {
  top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: var(--roboto-regular);
  font-size: 13px;
  padding-bottom: 25px; }

.tabla {
  text-align: center;
  width: 100%; }

.tabla th {
  color: #FFFFFF;
  border-bottom: solid 5px #4FD0F0; }

.tabla td {
  color: #FFFFFF; }

.proximos-lanz {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-center {
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  color: #FFFFFF; }

.proximos-lanz .img-lanz {
  width: 40%;
  height: 40%;
  margin: 10 auto; }

.proximos-lanz p {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: #FFFFFF; }

@media (min-width: 770px) {
  .contacto {
    height: 300px; } }
