// variables

$color: #0a141d;
$secondarycolor: #7295F9 ;
$colorp: #4E4C4C;
$colorfott: #0a141d;
$boxcolor:#FFFFFF;
$boxp:#efefef;

//variables fonts
$fontsprin: 'berkshire Swash',sans-serif;
$secondaryfont:'Amatic SC', cursive;
$fonts:'Roboto Slab', serif;
$cuartafont: 'Inconsolata', monospace;