// variables

$color: #0a141d;
$secondarycolor: #7295F9 ;
$colorpx: #4E4C4C;
$boxcolor:#FFFFFF;
$boxp:#efefef;
$bacolor: #8C37F5;
$baclor:  #7295F9;
$lor: #4FD0F0;
$lanzcor: #070606;

//variables fonts
$fontsprin: 'berkshire Swash',sans-serif;
$secondaryfont:'Amatic SC', cursive;
$fonts:'Roboto Slab', serif;
$cuartafont: 'Inconsolata', monospace;
$fontmerri: 'Merriweather', serif;
$fontnu: 'Nuosu SIL', serif;
$lanzfont: 'Bebas Neue', cursive;