@import "_variables";

body{
   background-color: $secondarycolor;
 	margin: 0;
 	font-family: $fontsprin;
}

*/carrousel 
.container{
   width: 100%;
   height: 400px;
   bottom: 20px;
   position: relative;
}
 img{
   height: 50%;
   width: 100%;
 }
  h1{
   font-size: 4rem;
   position: absolute;
   top: 30%;
   left: 30%;
   color: $colorpx;
   font-family: $secondaryfont;
 }

  .parrafo {
   font-size: 2rem;
   color: $colorpx;
   top: 45%;
   left: 38%;
   position: absolute;
   font-family: $secondaryfont;
 }


 */termina carrousel

 */comienza footer
 .pie-pagina {
   width: 100%;
   background-color: $color;
   display: flex;
   justify-content: space-between;

 }
  .box-1 h2{
   display: flex;
   color: $boxcolor;
   margin-bottom: 15px;
   font-size: 2rem;
   font-family: $fonts;
   align-items: center;
   text-align: center;
   justify-content: center;
 }
   .box-1 p{
   color: $boxp;
   max-width: 280px;
   margin: 5px auto;
   line-height: 20px;
   font-size: 15px;
   font-family: $cuartafont;
   text-align: center;
   align-items: center;
 }
  .box-img h2{
   color: $boxp;
   margin-bottom: 10px;
   font-size: 2rem;
   font-weight: 300;
   line-height: 3rem;
   font-family: $fonts;
   text-align: center;
}
 .red-social{
   display: flex;
   justify-content: center;
   text-align: center;
}

 .red-social a img{
   width: 50px;
   height: 50px;
   margin: 5px;
 }

 */termina footer

 */comienza contactos
 .redes{
   display: flex;
   justify-content: center;
}

.redes h1{
   font-family: $fontmerri;
   font-size: 2rem;
   text-align: center;
   position: absolute;
   top: 10%;
   margin: 0;
   color: $boxcolor;
 }

.redes a img{
   top: 70%;
   width: 50px;
   height: 50px;
   margin: 5px;
}

 form{
   width: 100%;
   padding: 10px 20px;
   margin: 0 auto;
 }

*/comienza ofertas
.oferta{
   margin: 100px auto;
   width: 400px;
}

.oferta h1{
   font-family: $fontnu;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 30%;
   top: 10%;
   color: $boxcolor;
   background: $bacolor;
}

.tabla{
   text-align: left;
   width: 100%;
   padding: 2px;
}

.tabla th{
   color: $boxcolor;
   border-bottom: solid 5px $lor;
}

.tabla td{
   color: $boxcolor;
}

*/termina ofertas

*/lanzamientos
.proximos-lanz{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.proximos-lanz h1{
   font-size: 2.5rem;
   text-align: center;
   justify-content: center;
   font-family: $lanzfont;
   color: $boxcolor;
   top: 2%;
}

.proximos-lanz .img-lanz{
   width: 40%;
   height: 40%;
   margin: 10 auto;
}

.proximos-lanz p{
   font-size: 1.5rem;
   font-family: $lanzfont;
   text-align: center;
   color: $boxcolor;
}
*/termina lanzamientos
