@import "_variables";

.bg-blue{
	color: $color;
}

body{
	font-family: $fontsprin;
	margin: 0;
	background-color:$secondarycolor ;
}

.container{
	width: 100%;
	height: 600px;
	bottom: 20px;
	position:  relative;
} h1{
	font-size: 4rem;
	color: $colorp;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px;
    font-family: $secondaryfont;
} p{
	font-size: 2rem;
	color: $colorp;
	position: absolute;
	top: 60%;
	left: 35%;
	font-family: $secondaryfont;
}

//empiezafooter

.pie-pagina{
	width: 100%;
	background-color: $colorfott;
} box-1{
	 display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
} box-1 h2{
	color: $boxcolor;
	margin-bottom: 25px;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	text-transform: capitalize;
	font-family: $fonts;
} box-1 p{
	color: $boxp;
	margin-bottom: 10px;
	max-width: 500px;
	margin: 10px auto;
	line-height: 25px;
	font-size: 15px;
	font-family: $cuartafont;
} box-img h2{
	color: $boxcolor;
	margin-bottom: 25px;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	text-transform: capitalize;
	font-family: $fonts;
	text-align: center;
} .red-social{
	display: flex;
	justify-content: center;
} red-social a img{
	width: 50px;
	height: 50px;
	margin: 5px;
}
