@import "_variables";

body{
   background-color: $secondarycolor;
 	margin: 0;
 	font-family: $fontsprin;
}

//carrousel 

.container{
   width: 100%;
   height: 400px;
   bottom: 20px;
   position: relative;
}
 img{
   height: 50%;
   width: 100%;
 }
  
  .titulo {
   font-size: 4rem;
   position: absolute;
   top: 30%;
   left: 40%;
   color: $colorpx;
   font-family: $secondaryfont;
 }

  .parrafo {
   font-size: 2rem;
   color: $colorpx;
   top: 45%;
   left: 38%;
   position: absolute;
   font-family: $secondaryfont;
 }


 //terminacarrousel

 //comienzafooter
 .pie-pagina {
   width: 100%;
   background-color: $color;
 }
  .box-1 h2{
   display: flex;
   color: $boxcolor;
   margin-bottom: 15px;
   font-size: 2rem;
   font-family: $fonts;
   align-items: center;
   text-align: center;
   justify-content: center;
 }
   .box-1 p{
   color: $boxp;
   max-width: 280px;
   margin: 5px auto;
   line-height: 20px;
   font-size: 15px;
   font-family: $cuartafont;
   text-align: center;
   align-items: center;
 }
  .box-img h2{
   color: $boxp;
   margin-bottom: 10px;
   font-size: 2rem;
   font-weight: 300;
   line-height: 3rem;
   font-family: $fonts;
   text-align: center;
}
 .red-social{
   display: flex;
   justify-content: center;
   text-align: center;
}

 .red-social a img{
   width: 50px;
   height: 50px;
   margin: 5px;
 }

 //terminafooter

 //comienzacontactos
 
 .contacto{
   width: 600px;
   margin: auto;
   background: $bacolor;
   height: 500%;
   
 }

 .redes{
   display: flex;
   justify-content: center;
}

.text-center{
   font-family: $fontmerri;
   font-size: 3rem;
   text-align: center;
   color: $boxcolor;
 }

 h3{
   font-family: $fontmerri;
   font-size: 2.5rem;
   text-align: center;
   color: $boxcolor;
 }
.redes a img{
   width: 50px;
   height: 50px;
   margin: 5px;
}

 form{
   width: 100%;
   padding: 10px 20px;
   margin: 0 auto;
 }

//comienzaofertas
.ofert-center{
   margin: 100px auto;
   width: 300px;
}

.ofert-center{
   font-family: $fontnu;
   display: flex;
   align-items: center;
   justify-content: center;
   color: $boxcolor;
   background: $bacolor;
}

.cards{
   top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: var(--roboto-regular);
    font-size: 13px;
    padding-bottom: 25px;
}


.tabla{
   text-align: center;
   width: 100%;
}

.tabla th{
   color: $boxcolor;
   border-bottom: solid 5px $lor;
}

.tabla td{
   color: $boxcolor;
}

//terminaofertas

//lanzamientos
.proximos-lanz{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.titulo-center{
   font-size: 2.5rem;
   text-align: center;
   justify-content: center;
   font-family: $lanzfont;
   color: $boxcolor;
}

.proximos-lanz .img-lanz{
   width: 40%;
   height: 40%;
   margin: 10 auto;
}

.proximos-lanz p{
   font-size: 1.5rem;
   font-family: $lanzfont;
   text-align: center;
   color: $boxcolor;
}
//terminalanzamientos

@media (min-width:770px) {
   .contacto{
      height: 300px;
   }
}